header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;

    .user{



        img{
            height: 17rem;
            width: 17rem;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 1rem;
            border: .7rem solid $colorYel;
        }

        .name{
            font-size: 3.5rem;
            color: white;
        }

        .post{
            font-size: 2rem;
            color: #fff;
        }
    }

    .navbar{
        width: 100%;

        ul{
            list-style: none;
            padding: 1rem 3rem;

            li{
                a{
                    display: block;
                    padding: 1rem;
                    margin: 1.5rem 0;
                    background-color: #333;
                    color: #fff;
                    font-size: 2rem;
                    border-radius: 5rem;
    
                }
                a:hover{
                    background: $colorYel;
                }
            }
        }

    }
}


#menu{
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}

@media (max-width:1200px){
    html{
        font-size: 55%;
    }

    .home{
        padding: 1rem 4rem;
    }
}

@media (max-width:768px){
    header{
        font-size: 50%;
    }

   
}

@media (max-width:991px){
    header{
        left: -120%;
    }

    #menu{
        display: block;
    }

    header.toggle {
        left: 0%;
    }

    
    html{
        padding: 0;
    }
}  
@media (max-width:400px){
    header{
        width: 100vw;
    }

    .heading{
        margin: 0 3rem;
    }

    .about{

        .row{

            .counter{
                border: 2px solid red;

                .box{
                    width: 100% !important;
                }
            }
        }
    }

    .education {

        .box-container{

            .box{
                width: 100% !important;
            }
        }

    }

    .portfolio .box-container .box{
        width: 100% !important;
    }

    .content .row form{
        margin: 3rem 0;
    } 

   
}

